<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
		   http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/test" />
        <property name="username" value="test" />
        <property name="password" value="test" />
    </bean>


	<!--  
	<bean name="dataSourceCcd" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="${jndi.ora.cdd}"/>
	</bean>
	-->
	
	<!-- Hibernate 4 SessionFactory Bean definition -->
	<bean id="hibernate4AnnotatedSessionFactory"
	        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	        <property name="dataSource" ref="dataSource" />
	        <property name="annotatedClasses">
	            <list>
	                <value>org.stuff.ejb.model.User</value>
	            </list>
	        </property>
	        <property name="hibernateProperties">
	            <props>
	                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
	                <prop key="hibernate.current_session_context_class">thread</prop>
	                <prop key="hibernate.show_sql">true</prop>
	                <prop key="hibernate.format_sql">true</prop>
	                <prop key="hibernate.hbm2ddl.auto">validate</prop>
	            </props>
	        </property>
	  </bean>
	  
	  
	  <bean id="userDao" class="org.stuff.ejb.hibernate.dao.UserDao">
	  		<constructor-arg name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
      </bean>
	
</beans>
